<div *ngIf="hero">
    <h2>Infromacion sobre {{hero.name | uppercase}}</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Nombre: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
    </div>
      <div>
          <label for="hero-edad">Edad: </label>
          <input id="hero-edad" [(ngModel)]="hero.edad" placeholder="edad">
      </div>
      <div>
          <label for="hero-poder">Poder: </label>
          <input id="hero-poder" [(ngModel)]="hero.poder" placeholder="poder">
      </div>

      <div>
          <label for="hero-identidad">Identidad: </label>
          <input id="hero-identidad" [(ngModel)]="hero.identidad" placeholder="identidad">
      </div>
      <div>
          <label for="hero-universo">Universo: </label>
          <input id="hero-universo" [(ngModel)]="hero.universo" placeholder="universo">
      </div>

    <button (click)="goBack()">Atras</button>
  </div>


